tournament-bracket {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.single-bracket {
    display: flex;
    flex-direction: column;
    gap: 18.4vh;
}

.single-bracket > input {
    display: flex;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bg2_);
    outline: none;
    border: 0;
    /* width: 23vh; */
    height: 4vh;
}

.bracket-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-path {
    height: 11.18vh;
    width: 6.9vh;
}

.bottom-path {
    height: 11.18vh;
    width: 6.9vh;
}

.line-dir {
    height: 27px;
    width: 7.2vh;
    margin-left: -1.3vh;
}

.crown {
    width: 5vh;
    height: 5vh;
}