chat-popup {
	position: fixed;
	width: 97%;
    height: 45%;
	top: 100%;
	left: 3.5%;
	background-color: #0F1117;
	display: flex;
	flex-direction: column;
	border-radius: 15px 0px 0px 0px;
	opacity: 0;
	z-index: 9999;
}

.chat-popup-header {
	background-color: #24293C;
	width: 100%;
	height: 14%;
	min-height: 14%;
	border-radius: 15px 0px 0px 0px;
	display: flex;
	align-items: center;
	font-size: 1.9vh;
}

.chat-popup-header > img {
	width: 2.7vh;
	padding-right: 1.2vh;
	padding-left: 2.3vh;
}

.chat-popup-content {
	display: flex;
	width: 100%;
	height: 100%;

}

chat-sidebar {
	background-color: #1C1F2C;
	width: 14%;
	height: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	gap: 10px;
	padding-top: 10px;

}

chat-sidebar-entry {
	width: 87%;
	height: 7%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	padding-left: 15px;
	background-color: #252F42;
	border-radius: 10px;
}

.chat-main-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 86%;
	min-height: 86%;
}

chat-main {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

chat-messages-container {
	width: 100%;
	height: 95%;
	max-height: 95%;
	display: flex;
	flex-direction: column-reverse;
	padding-left: 15px;
	padding-bottom: 10px;
	overflow-y: hidden;
	z-index: 1000;
	gap: 5px;
}

.input_chat_popup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
	padding-bottom: 15px;
	padding-left: 10px;
}

.chat-message-input {
    display:flex;
    border: none;
    height: 25px;
    width: 95%;
    background-color: #141A31;
    color: white;
    border-radius: 10px;
    padding: 15px;
    outline: none;
}