chat-popup {
	position: fixed;
	width: 100%;
    height: 45%;
	top: 55%;
	background-color: #0F1117;
	display: flex;
	flex-direction: column;
	border-radius: 15px 0px 0px 0px;
}

.chat-popup-header {
	background-color: #24293C;
	width: 100%;
	height: 14%;
	border-radius: 15px 0px 0px 0px;
	display: flex;
	align-items: center;
	font-size: 1.9vh;
}

.chat-popup-header > img {
	width: 2.7vh;
	padding-right: 1.2vh;
	padding-left: 2.3vh;
}

.chat-popup-content {
	display: flex;
	width: 100%;
	height: 100%;

}

chat-sidebar {
	background-color: #1C1F2C;
	width: 14%;
	height: 100%;
}