@font-face 
{
    font-family: my_font;
    src: url("../utils/nasalization-rg.otf");
    font-weight: bold;
}

chat-container {
	display: flex;
	height: calc(100vh - 120px);
}

message-history {
	height: 100%;
	overflow-y: scroll;
	flex: 1;
}

 /* chat-sidebar styles */
 /* -> sidebarHeader-style*/
 chat-sidebar {
	flex: 0.2;
	height: 100%;
 }
 .chat-sidebar {
	background-color: #181B26;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #383838;
	height: 100%;
  }
  
  .message-header {
	display:flex;
	height: 60px;
	align-items: center;
	border-bottom: 1px solid #383838;
  }
  
  .message-count {
	color: #CA33FF;
	border-radius: 50%;
	font-size: 0.8em;
	margin-left: 5px;
  }

  .search-input{
	width: 15px;
	height: 15px;
	margin-left: 120px;
  }


.ellipsize-left{
	padding-top: 15px;
	color: #24CE90;
	font-size: 100%;
}

.users-list{
	margin-top: 20px;
}

.users-list span {
	margin-right: 10px;
  }

.player-online {
	width: 37px;
	height: 37px;
	border-radius: 50%;
	bottom: 0;
	right: 0;
	border: 2px solid #2c2c2c;

}

/*Group chat style*/
.group-chats{
	font-size: small;
}

.pong {
	width: 13px;
	height: 13px;
	padding-left: 15px;
	padding-right: 10px;
}

/*All messages style*/

all-messages .all-messages-title{
	padding-top: 30px;
	color: #CA33FF;
	font-size: 100%;
}

.player{
	width: 35px;
	height: 35px;
	margin : 10px;
	border-radius: 50%;
}

.chat-list{
	margin-left: 20px;
}
.message-list, .chat-list{
	list-style-type: none;
}

.chat-item, .message-item {
	display: flex;
	align-items: center;
	cursor: pointer;
}

/*chat-main styles*/
chat-main {
	flex: 1;
}

.chat-main{
	/* width: 1700px; */
	background-color: #181B26;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #383838;
	height: 100%;
}

.chat-header{
	height: 60px;
	border-bottom: 1px solid #383838;
}

.current-user 
{
	display: flex;
	align-items: center;
}
  
.user-name 
{
	color: #ffffff;
	font-weight: bold;
	margin-right: 8px;
}
  
.user-status {
	color: #72767d;
	font-size: 0.9em;
}
  
.user-info {
    display: flex;
    flex-direction: column;
}

.message-history {
	display: flex;
    flex-direction: column;
	padding: 20px;
}


/* .divider-time{
	border: 1px solid #383838;
	margin-top: 15px;
	margin-bottom: 15px;
} */

.timestamp {
	font-size: 0.8em;
	/* margin-left: 50px; */
	color: #72767d;
}

.profile-info {
	display:flex;
}

.profile-info.sent {
	display:flex;
	flex-direction: row-reverse;
}
.player_received {
	width: 50px;
	height: 50px;
	margin-right:10px;
	border-radius: 50%;
}

.player_send {
	display: flex;
	flex-direction: column;

	width: 50px;
	height: 50px;
	/* margin-right:10px; */
	border-radius: 50%;
}

.user_receive{
	display:flex;
	justify-content: space-between;
}

.message.received{
	max-width:70%;
	align-self: flex-start;
	margin-bottom: 20px;
}

.message.sent{
	max-width:70%;
	align-self: flex-end;
}

.user_sent{
	display:flex;
	justify-content: space-between;
}

.message-content.received{
	background: linear-gradient(to right, #222222, #2D2F3D);
	margin-left: 60px;
	margin-top: -25px;
	padding:10px;
	border-radius: 10px;
}

.message-content.sent{
	background: linear-gradient(to right, #222222, #2D2F3D);
	margin-left: 60px;
	margin-top: 10px;
	padding:10px;
	border-radius: 10px;
}

.message-input{
	padding : 20px;
	background-color: #181B26;
	display: flex;
	align-items: center;
}
.message-input button {
	position: absolute;
	right: 50px;
	background: none;
	border: none;
	color: #CA33FF;
	border-radius: 50%;
	cursor: pointer;
}


.message-input input{
	width: 100%;
	flex: 1;
	border: none;
	border-radius: 15px;
	/* height: 30px; */
	padding: 20px;
	background: #2D2F3D;
	color: #ffffff;
	outline: none;
}


.profile-header{
    padding-left: 4px;
    border-bottom: 1px solid #383838;
    height: 50px;
}
.profile-header h2 {
	margin-top: 10px;
}

.last-messages-items {
	margin-top: 20px;
}

view-message-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
	user-select: none;
	cursor: pointer;
	border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left,#191C28,#4B4B4D, #191C28);
    border-image-slice: 2;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

view-message-item:last-child {
	border-bottom: none;
}

view-message-item:hover {
	background-color: #2D2F3D;
	padding: 10px;
	transition: 0.3s;
	transform: scale(1.02);
}

view-message-item .view-message-left-item {
	display: flex;
	align-items: center;
}

view-message-item .view-message-left-item .view-message-item-avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

view-message-item .message-item-data h2 {
	font-size: 15px;
	font-weight: 500;
}

view-message-item .message-item-data p {
	font-size: 12px;
	font-weight: 400;
	color: #AFAFAF;
}
view-message-item .view-message-right-item p {
	font-size: 12px;
	font-weight: 400;
	color: #AFAFAF;

}
profile-sidebar {
	flex: 0.2;
}
.profile-sidebar {
    width: 100%;
}

.profile-content {
	margin-top: 20px;
}

.message-content  {
	max-width: 50%;
}

.profile-pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 20px auto;
	display: block;
}
  
.profile-name, .profile-username {
	text-align: center;
	margin-bottom: 10px;
}
  
.profile-username {
	color: #a0a0a0;
  }
  
.profile-actions {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }

.profile-actions a {
	text-decoration: none;
	color: #24CE90;
}

.btn-settings{
	padding: 8px 15px;
	margin: 0 5px;
	border: none;
	border-radius: 5px;
	background-color: #a0a0a0;
	color: #ffffff;
	cursor: pointer;
}

received-message-card {
	display: flex;
	align-items: end;
}

.received-message-avatar img {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	/* margin-right: 10px; */
	object-fit: contain;
	display: none;
	z-index: 1;
}

.message-received {
	margin-top: 5px;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	float: left;
}

.message-received .message-time {
	color: gray;
	font-size: 15px;
	margin-top: 20px;
}

.message-received p {
	display: flex;
	flex-direction: column;
	background-color: #242533;
	padding: 20px;
	border-radius: 15px;
}

.received-message-time-avatar-box{
	display: flex;
	align-items: center;
	margin-top: 5px;
}

.message-time {
	font-size: 10px;
	color: gray;
}

.message-sender {
	align-self: flex-end;
	max-width: 50%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: left;
	float: right;
}

.message-sender p {
	display: flex;
	flex-direction: column;
	background-color: #242533;
	padding: 20px;
	border-radius: 15px;
}

.message-sender .message-time {
	color: gray;
	font-size: 15px;
	margin-top: 20px;
	text-align: left;
}

message-input {
	display: flex;
	align-items: center;
	position: relative;
	bottom: 0;
	width: 100% !important;
}

.message-input  {
	width: 100%;
}

.message-input input {
	width: 100%;
	outline: none;
}

