       .pingpongcontainer {
            overflow: hidden;
        background: #181B26;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }
        canvas {
            width: 100%;
            padding-left: 15px;
            height: 100%;
        }
    .ts{
        display: flex;
        justify-content: center;
        gap: 25px;
        background: #181B26;
    }
    .block-text{
        opacity: 0.4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .profile-pic {
        width: 50px;
        height: 50px;
    }
    .block-text p {
        margin: 0; /* Removes default margin for a tighter layout, adjust as needed */
        text-align: center; /* Centers the text if desired */
    }
    .time-display {
        display: flex;
        justify-content: center; /* Centers the time horizontally */
        align-items: center; /* Centers the time vertically */
    }
    #countdown {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        color: white;
    }

.pingpongProfile
{
    display: flex;
    align-items: center;
    gap: 10px;
}