*{
    user-select: none;
}

:root
{
    --bg-button: #222838;
    --white: #fff;
    --orchid: #CA33FF;
    --bg: #181B26;
    --bg1: #191C28;
    --bg2: #363B4F;
    --bg3: #2B2F40;
    --white: #FFFFFF;
    --title: #A8A8A8;
    --text: #63656F;
    --shamrock: #24CE90;
    --byzantium: #581352;
    --byzanitumnew: #321A3E;
    --box: #2E3345;
    --yellow: #FAE744;
    --red: #FF6666;
    --blue: #4496D4;
    
}

.ContainerGameSelection
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 93vh;
}

.btn-gameselection
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: 0;
    background-color: var(--bg-button);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    font-size: 25px;
}

.btn-gameselection img
{
    transition: transform 1s ease;
}

.btn-gameselection:hover img
{
    transform: scale(1.2);
}

.btn-gameselection p
{
    transition: transform 1s ease;
}

.btn-gameselection:hover p
{
    transform: scale(1.2);
}

.btn-gameselection:hover
{
    border: 3px solid var(--white);
}

.btn-gameselection:active
{
    border: 3px solid var(--orchid);
}

.line_x
{
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, var(--bg1), #4B4B4D, var(--bg1));
}

.line_y
{
    width: 1px;
    height: 70%;
    background: linear-gradient(to bottom, var(--bg1), #4B4B4D, var(--bg1));
}

.ContainerOnlineRoom
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 93vh;
}

.BtnCreateRoom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin:15px;
}

.BtnCreateRoom button
{
    width: 235px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.BtnCreateRoom button:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}

.ContainerButtonRoom button
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 25px;
    height: 80px; 
    background: none;
    border: 0;
    width: 98%;
}

.ContainerButtonRoom button:hover .RoomContent
{
    background: var(--bg-button);
}

.ContainerButtonRoom button:hover .Room
{
    background: var(--bg2);
}

.ContainerButtonRoom button:hover .RoomTypeGame
{
    background: var(--bg2);
}

.ContainerButtonRoomBtn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 80px;
    background: none;
    border: 0;
    width: 100%;
}

.ContainerButtonRoomBtn:hover .RoomContent
{
    background: var(--bg-button);
}

.ContainerButtonRoomBtn:hover .Room
{
    background: var(--bg2);
}

.ContainerButtonRoomBtn:hover .RoomTypeGame
{
    background: var(--bg2);
}

.Room
{
    display:flex;
    position: relative;
    background: var(--bg3);
    height: 80px;
    border-radius: 15px;
    width: 95%;
}

.RoomTypeGame
{
    display:flex;
    justify-content: center;
    align-items:center;
    height: 80px;
    width: 50px;
    background: var(--bg3);
    border-radius: 15px 0 0 15px;
}

.RoomContent
{
    border-radius: 15px;
    background: var(--bg2);
    width: 100%;
    height: 80px;
}

.RoomContentCard
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.RoomContentCard_flex
{
    display:flex;
    flex-direction: column;
    gap: 7px;
}

.RoomTeam
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--byzanitumnew);
    width: 38px;
    height: 11px;
    border-radius: 15px;
}

.RoomTeam p
{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 7px;
}

.RoomTime
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--byzanitumnew);
    width: 38px;
    height: 13px;
    border-radius: 15px;
}

.RoomTime p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
}

.RoomName
{
    display: flex;
    justify-content: center;
    align-items:center;
}

.RoomPlayer p
{
    color: var(--yellow);
}

.RoomHosted
{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 7px;
}

.RoomUsers
{
    display: flex;
    justify-content: end;
}

.RoomUsers img
{
    border-radius: 15px;
    background-size: cover;
}

.ContainerCardParticipants
{
    display: flex;
    justify-content: space-around;
    margin: 25px;
    height: 500px;
}


.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}

.TitleRoom
{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 80px;
}

.TitleRoom #changeTitleBtn
{
    background-image: url("../icons/editer.png");
    background-size: cover;
    transition: transform 1s ease;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border: 0;
}

.TitleRoom #changeTitleBtn:hover
{
    transform: scale(1.5);
    background-image: url("../icons/activ_editer.png");
}

.CardParticipants
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: var(--bg2);
    border-radius: 15px;
}

.ContainerParticipantsTeam
{
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 15px;
}

.ParticipantsTeam
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.ParticipantsTeamUserRed
{
    width: 85%;
    display: flex;
    background-color: var(--red);
    border-radius: 10px;
    
}

.ParticipantsTeamUserImg
{
    width: 100%;
    background-image: url(../images/img.png);
    background-size: cover;
    margin-left: 7px;
    border-radius: 10px;
    display: flex;
}
.ParticipantsTeamUserBlue
{
    display: flex;
    width: 85%;
    background-color: var(--blue);
    border-radius: 10px;
}
.ParticipantsTeamBackdrop
{
    width: 85%;
    display: flex;
    align-items: center;
    height: 45.5px;
    margin-left: 6px;
    background-image: url(../images/img.png);
    background-size: cover;
    border-radius: 10px;
}

.ParticipantsHost
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 63%;
    background: rgb(0 0 0 / 39%);
    border-radius: 10px;
}

.ContainerBtnSlot_Img
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.ContainerBtnSlot
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ContainerBtnSlot button
{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 85%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background: var(--bg3);
}

.ContainerBtnSlot button:hover
{
    background: var(--bg1);
    box-shadow: 0 0 10px 2px rgba(51, 51, 51, 0.3);
}

.ContainerGameOptions
{
    display: flex;
    justify-content: space-around;
    height: 440px;
}

.ContainerGameOptions_Gamemode
{
    width: 100%;
    padding: 20px;
}

.BtnGamemode
{
    height: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.ContainerGameOptions_Time
{
    width: 100%;
    padding: 20px;
}

.ContainerGameOptions_Team
{
    width: 100%;
    padding: 20px;
}

.ContainerGameOptions_Customizations
{
    width: 100%;
    padding: 20px;
}


.BtnGamemode button
{
    width: 130px;
    height: 130px;
    background: none;
    background-color: var(--byzantium);
    transition: .5s;
    border-radius: 20px;
    border: 0;
    
}

.BtnGamemode button:hover
{
    border: 8px solid var(--orchid);
    opacity: 0.7;
}

.BtnTime
{
    height: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.BtnTime button
{
    width: 130px;
    height: 130px;
    background: none;
    border: 8px solid var(--shamrock);
    transition: .5s;
    border-radius: 20px;
    font-size: 40px;
}

.BtnTime button:hover
{
    color: var(--bg1);
    background-color: var(--shamrock);
    opacity: 0.7;
}

.BtnTeamSize
{
    height: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.BtnTeamSize button
{
    width: 130px;
    height: 130px;
    background: none;
    border: 8px solid var(--yellow);
    transition: .5s;
    border-radius: 20px;
    font-size: 40px;
}

.BtnTeamSize button:hover
{
    color: var(--bg1);
    background-color: var(--yellow);
    opacity: 0.7;
}

.BtnCustomizations
{
    height: 75%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.BtnCustomizations button
{
    display: flex;
    width: 130px;
    height: 130px;
    background: none;
    border: 8px solid var(--red);
    border-radius: 20px;
    transition: .5s;
    justify-content: center;
    align-items: center;
}

.BtnCustomizations button img
{
    width: 55px;
}

.BtnCustomizations button:hover
{
    background-color: var(--red);
    opacity: 0.7;
}

.BtnStartGame
{
    width: 235px;
    height: 45px;
    cursor: pointer;
}

.BtnStartGame #BtnStartGame
{
    width: 100%;
    height: 100%;
    border-radius: 15px;

    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.BtnStartGame #BtnStartGame:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}


.BtnStartGame button[disabled]
{
    opacity: 0.5;
    cursor: not-allowed;
}

.ContinerFooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
}

.ContinerFooter_reminder
{
    margin-left: 20px;
    color: var(--red);
}

#gameMode
{
    border: 8px solid var(--orchid);
}

#gameTime
{
    color: var(--bg1);
    background-color: var(--shamrock);
}

#gameTeamSize
{
    color: var(--bg1);
    background-color: var(--yellow);
}

#customizations{
    background-color: var(--red);
}

chat-game
{
    width: 50%;
}


.chat-container{
    background-color: #363B4F;
    border: 1px solid #363B4F;
    border-radius: 16px;
    width: 100%;
    height:100%;
}

.chat-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363B4F;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    height: 10%;
}

.chat-box{
    display:flex;
    width: 97%;
    background-color: rgb(0, 0, 0);
    border-radius:15px 15px 0 0;
    height: 85%;
}

.sidebar-chatbox{
    display:flex;
    align-items: flex-end;
    overflow-y: auto;
    gap: 10px;
    padding: 20px;
    width: 30%;
}

.chat-content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-left: 1px solid #3a3e47; 
    width : 100%;
    height: 100%;
}

.chat_msg
{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
}
.timestamp {
    color: #888;
    font-size: 12px;
}

.username {
    font-weight: bold;
    white-space: nowrap;
    color: green;
}

.message {
    display: flex;
    align-items: end;
    color: gray;
    word-wrap: break-word;
    flex-grow: 1;
    
}

.input_msg
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
}

.chat-input{
    display:flex;
    border: none;
    border-top: 2px solid #3a3e47;
    height: 25px;
    width: 100%;
    background-color: black;
    color: white;
    bottom : 0;
    left:0;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    outline: none;

}

.ContainerChat
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 88%;
}

.chat-container-content
{
    height: 100%;
}

.content_line
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
}

.line_x_chat
{
    width: 50%;
    height: 1px;
    background: linear-gradient(to right, #363B4F, #fff, #363B4F);
}


.ContainerPopupInviteFreiends
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e293a64;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 93vh
}

.ContainerPopupInviteFreiends_card
{
    width: 30%;
    height: 50%;
    background-color: var(--bg1);
    border-radius: 15px;
}

.TitlePopup
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.InviteFreindsPopup
{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 88%;
    
}

.InviteFreindsPopup_content
{
    width: 90%;
    height: 98%;
}

.CardFriend
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 10%;
    background-color: var(--bg2);
    border-radius: 15px;
}

.CardFriend_name
{
    display: flex;
    align-items: center;
    gap: 10px;

}

.CardFriend button
{
    width: 20%;
    height: 70%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.CardFriend button:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}

.InviteFreindsPopupNoOne
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

game-selection
{
    z-index: 999;
    position: relative;
}

invite-friends
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#roomeNameInput
{
    padding: 10px;
    border-radius: 50px;
    color: white;
    outline: none;
}
#saveRoomName {
    background-color: #242E4C;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

#saveRoomName img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 5px;
}


.OfflineTournamentTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.ContainerCardOffline
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

offline-room-1vs1, offline-room-2vs1, offline-room-2vs2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.OfflineRoomTeams
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usersTeams
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 30%;
}

.player_
{
    display: flex;
    align-items: center;
    height: 8%;
    background-color: var(--bg2);
    border-radius: 10px;
    font-size: 10px;
    gap: 10px;
    padding: 10px;
}

.line_tourn
{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.TwoVsTwo
{
    display: flex;
    align-items: center;
    height: 100%;

}

.usersTeams2v2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 70%;
}

.usersTeams2v2_final
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 70%;
}

.ContainerUsersTeams2v2
{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 23%;
}

.toor
{
    display: flex;
    align-items: center;
    width: 100%;

}

.linee
{
    border: 0.7px solid #828E97;
    width: 100%;
}