* {
    user-select: none;
}

:root {
    --bg-button_: #222838;
    --orchid: #CA33FF;
    --bg: #181B26;
    --bg1_: #191C28;
    --bg2_: #363B4F;
    --bg3_: #2B2F40;
    --white_: #FFFFFF;
    --title: #A8A8A8;
    --text: #63656F;
    --shamrock: #24CE90;
    --byzantium: #581352;
    --byzanitumnew: #321A3E;
    --box: #2E3345;
    --yellow: #FAE744;
    --red: #FF6666;
    --blue: #4496D4;
    --btn_slot: #373739;
    
}

.ContainerGameSelection
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 92vh;
}

.btn-gameselection
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: 0;
    background-color: var(--bg-button_);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    font-size: 25px;
}

.btn-gameselection:hover
{
    border: 3px solid var(--white_);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    background-color: var(--bg-button_);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    font-size: 25px;
}

.btn-gameselection:active
{
    border: 3px solid var(--orchid);
}

.line_x
{
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, var(--bg1_), #4B4B4D, var(--bg1_));
}

.line_y
{
    width: 1px;
    height: 70%;
    background: linear-gradient(to bottom, var(--bg1_), #4B4B4D, var(--bg1_));
}

.ContainerOnlineRoom
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.BtnCreateRoom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin:15px;
}

.BtnCreateRoom > button
{
    width: 235px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.BtnCreateRoom > button:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}

button.RoomListContainerBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px;
    background: none;
    border: 0;
    width: 100%;
}

.RoomListContainer button:hover .RoomContent
{
    background: var(--bg-button_);
}

.RoomListContainer button:hover .Room
{
    background: var(--bg2_);
}

.RoomListContainer button:hover .RoomTypeGame
{
    background: var(--bg2_);
}

.RoomListContainerBtn:hover .RoomContent
{
    background: var(--bg-button_);
}

.RoomListContainerBtn:hover .Room
{
    background: var(--bg2_);
}

.RoomListContainerBtn:hover .RoomTypeGame
{
    background: var(--bg2_);
}

.ContainerGameOptions
{
    display: flex;
    justify-content: space-around;
    height: 19vh;
}


.BtnGamemode
{
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.ContainerGameOptions_Team
{
    width: 100%;
    height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: space-evenly;
    margin-left: 15px;
}

.ContainerGameOptions_Team > h2 {
    font-size: 20px;
}

.BtnGamemode button
{
    width: 8.2vh;
    height: 8.2vh;
    background: none;
    background-color: var(--byzantium);
    transition: .5s;
    border-radius: 20px;
    border: 0;
    
}

.BtnGamemode button:hover
{
    border: 4px solid var(--orchid);
    opacity: 0.7;
}

.BtnTime
{
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.BtnTime button
{
    width: 8.5vh;
    height: 8.5vh;
    background: none;
    border: 6px solid var(--shamrock);
    transition: .5s;
    border-radius: 20px;
    font-size: 4.5vh;
}

.BtnTime button:hover
{
    color: var(--bg1_);
    background-color: var(--shamrock);
    opacity: 0.7;
}

.BtnTeamSize
{
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.BtnTeamSize button
{
    width: 8.5vh;
    height: 8.5vh;
    background: none;
    border: 6px solid var(--yellow);
    transition: .5s;
    border-radius: 20px;
    font-size: 4.5vh;
}

.BtnTeamSize button:hover
{
    color: var(--bg1_);
    background-color: var(--yellow);
    opacity: 0.7;
}

.BtnCustomizations
{
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap : 15px;
}

.BtnCustomizations button
{
    display: flex;
    width: 8.5vh;
    height: 8.5vh;
    background: none;
    border: 6px solid var(--red);
    border-radius: 20px;
    transition: .5s;
    justify-content: center;
    align-items: center;
}

.BtnCustomizations button img
{
    width: 50%;
}

.BtnCustomizations button:hover
{
    background-color: var(--red);
    opacity: 0.7;
}

.BtnStartGame
{
    width: 235px;
    height: 45px;
    cursor: pointer;
}

.BtnStartGame #BtnStartGame
{
    width: 100%;
    height: 100%;
    border-radius: 15px;

    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.BtnStartGame #BtnStartGame:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}


.BtnStartGame button[disabled]
{
    opacity: 0.5;
    cursor: not-allowed;
}

.ContainerFooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 1vh;
}

.ContainerFooter_reminder
{
    color: var(--red);
}

#gameMode
{
    border: 6px solid var(--orchid);
}

#gameTime, #gameBracketSize
{
    color: var(--bg1_);
    background-color: var(--shamrock);
}

#gameTeamSize
{
    color: var(--bg1_);
    background-color: var(--yellow);
}

#customizations{
    background-color: var(--red);
}

chat-game {
    width: 60%;
    flex: 0.7;
}

.content_line
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
}

invite-friends-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    height: 65%;
    background-color: #191C28;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
}

.InviteFriendsPopupHeader {
    display: flex;
    width: 100%;
    height: 12%;
    font-size: 2.3vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, #E0E0E0, transparent);
    border-image-slice: 2;
}

.InviteFriendsPopupEntries {
    margin-bottom: 5px;
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
}

friend-invite-entry {
    width: 100%;
    height: 12%;
    min-height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #363B4F;
    border-radius: 10px;
}

.FriendInviteEntryInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
}

.FriendInviteEntryInfo > img {
    width: 4vh;
    height: 4vh;
    border-radius: 10px;
}

friend-invite-entry > button {
    margin-right: 10px;
    width: 20%;
    height: 70%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

friend-invite-entry > button:hover {
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}

game-selection {
    z-index: 999;
    position: relative;
}

#roomeNameInput
{
    padding: 10px;
    border-radius: 50px;
    color: white;
    outline: none;
}
#saveRoomName {
    background-color: #242E4C;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

#saveRoomName img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 5px;
}
