* {
    user-select: none;
}

:root {
    --bg-button_: #222838;
    --orchid: #CA33FF;
    --bg: #181B26;
    --bg1_: #191C28;
    --bg2_: #363B4F;
    --bg3_: #2B2F40;
    --white_: #FFFFFF;
    --title: #A8A8A8;
    --text: #63656F;
    --shamrock: #24CE90;
    --byzantium: #581352;
    --byzanitumnew: #321A3E;
    --box: #2E3345;
    --yellow: #FAE744;
    --red: #FF6666;
    --blue: #4496D4;
    --btn_slot: #373739;
    
}

.ContainerGameSelection
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 92vh;
}

.btn-gameselection
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    border: 0;
    background-color: var(--bg-button_);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    font-size: 25px;
}

.btn-gameselection:hover
{
    border: 3px solid var(--white_);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    background-color: var(--bg-button_);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    font-size: 25px;
}

.btn-gameselection:active
{
    border: 3px solid var(--orchid);
}

.line_x
{
    width: 70%;
    height: 1px;
    background: linear-gradient(to right, var(--bg1_), #4B4B4D, var(--bg1_));
}

.line_y
{
    width: 1px;
    height: 70%;
    background: linear-gradient(to bottom, var(--bg1_), #4B4B4D, var(--bg1_));
}

.ContainerOnlineRoom
{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 92vh;
}

.BtnCreateRoom
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin:15px;
}

.BtnCreateRoom > button
{
    width: 235px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.BtnCreateRoom > button:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}

button.RoomListContainerBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px;
    background: none;
    border: 0;
    width: 100%;
}

.RoomListContainer button:hover .RoomContent
{
    background: var(--bg-button_);
}

.RoomListContainer button:hover .Room
{
    background: var(--bg2_);
}

.RoomListContainer button:hover .RoomTypeGame
{
    background: var(--bg2_);
}

.RoomListContainerBtn:hover .RoomContent
{
    background: var(--bg-button_);
}

.RoomListContainerBtn:hover .Room
{
    background: var(--bg2_);
}

.RoomListContainerBtn:hover .RoomTypeGame
{
    background: var(--bg2_);
}

.Room
{
    display:flex;
    position: relative;
    background: var(--bg3_);
    height: 100%;
    border-radius: 15px;
    width: 95%;
}

.RoomTypeGame
{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 50px;
    background: var(--bg3_);
    border-radius: 15px 0 0 15px;
}

.RoomContent
{
    border-radius: 15px;
    background: var(--bg2_);
    width: 100%;
}

.RoomContentCard
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.RoomName > p {
    font-size: 1.7vh;
}

.RoomContentCard_flex
{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.RoomTeam
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--byzanitumnew);
    width: 55px;
    height: 20px;
    border-radius: 15px;
}

.RoomTeam p
{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 1.3vh;
}

.RoomTime
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--byzanitumnew);
    width: 55px;
    height: 20px;
    border-radius: 15px;
}

.RoomTime p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vh;
}

.RoomName
{
    display: flex;
    justify-content: center;
    align-items:center;
}

.RoomPlayer p
{
    color: var(--yellow);
    font-size: 1.8vh;
}

.RoomHosted
{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 10px;
}

.RoomUsers
{
    display: flex;
    justify-content: end;
}

.RoomUsers img
{
    border-radius: 15px;
    background-size: cover;
}

.fade-in {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}

.TitleRoom
{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 80px;
}

.TitleRoom #changeTitleBtn
{
    background-image: url("../icons/editer.png");
    background-size: cover;
    transition: transform 1s ease;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border: 0;
}

.TitleRoom #changeTitleBtn:hover
{
    transform: scale(1.5);
    background-image: url("../icons/activ_editer.png");
}

.CardParticipants
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
    background-color: var(--bg2_);
    border-radius: 15px;
}

.ParticipantsTeam
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    height: 100%;
    width: 100%;
}

.RedTeam
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.TeamTitle
{
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    padding-left: 1.3vh;
    width: 85%;
}

.TeamTitle > p {
    font-size: 12px;
}

.ParticipantsText {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, #E0E0E0, transparent);
    border-image-slice: 2;
}


pariticipant-entry {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    height: 5.5vh;
    width: 90%;
    border-radius: 15px;
}

pariticipant-entry > img {
    width: 1.5vh;
    height: 1.5vh;
    padding-right: 15px;
    opacity: 0;
}

.ParticipantEntryInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 15px;
    align-items: center;
}

.ParticipantEntryInfo > img {
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 5px;
}

empty-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 5.5vh;
    width: 95%;
    background-color: #373739;
    border-radius: 15px;
    cursor: pointer;
}

empty-slot > p {
    margin-left: 35%;
}

empty-slot > img {
    width: 2vh;
    height: 2vh;
    margin-right: 5%;
}

.TeamSlot
{
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.TeamSlotBtnContent
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--btn_slot);
}

.TeamSlotBtnContent p
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 87%;
}

.TeamSlotBtnContentUser
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    height: 100%;
    border-radius: 15px;
    margin-left: 20px;
    background-image: url("../images/img.png");
    background-size: cover;
}

.UserSelected
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #00000054;
}

.UserSelected img
{
    margin-left: 10px;
}

.TeamSlotBtnContentUser img
{
    height: 35px;
    border-radius: 5px;
}

.BlueTeam
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.TeamOneToOne
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

.UserHost
{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #00000074;
}

.TeamOneToOneHost
{
    flex: 1;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.8vh;
}

.BtnStartGame
{
    width: 235px;
    height: 45px;
    cursor: pointer;
}

.BtnStartGame #BtnStartGame
{
    width: 100%;
    height: 100%;
    border-radius: 15px;

    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.BtnStartGame #BtnStartGame:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}

.BtnStartGame button[disabled]
{
    opacity: 0.5;
    cursor: not-allowed;
}

/* ///////////////////////////////////// */

.NextTournamentBtn
{
    width: 100%;
    display: flex;
    justify-content: end;
}

.BtnTournament
{
    width: 235px;
    height: 45px;
    cursor: pointer;
}

.BtnTournament #BtnTournamentGame
{
    width: 100%;
    height: 100%;
    border-radius: 15px;

    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

.BtnTournament #BtnTournamentGame:hover
{
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}




.ContainerFooter
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding-top: 5vh;
    padding-bottom: 0.8vh;
    /* padding: 1vh; */
}

.ContainerFooter_reminder
{
    color: var(--red);
}

#gameMode
{
    border: 6px solid var(--orchid);
}

#gameTime, #gameBracketSize
{
    color: var(--bg1_);
    background-color: var(--shamrock);
}

#gameTeamSize
{
    color: var(--bg1_);
    background-color: var(--yellow);
}

#customizations{
    background-color: var(--red);
}

chat-game {
    width: 60%;
    flex: 0.7;
}

in-room-1vs1, in-room-2vs2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}

.chat-container {
    background-color: #363B4F;
    border: 1px solid #363B4F;
    border-radius: 16px;
    width: 85%;
    height: 100%;
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363B4F;
    text-align: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    height: 10%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, #E0E0E0, transparent);
    border-image-slice: 2;
    margin-top: 3px;
    padding-bottom: 3px;
}

.chat-box{
    display:flex;
    width: 97%;
    background-color: rgb(21, 21, 21);
    border-radius:15px 15px 0 0;
    height: 85%;
}

.chat-content{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-left: 1px solid #3a3e47; 
    width : 100%;
    height: 100%;
}

.chat_msg
{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
}
.timestamp {
    color: #888;
    font-size: 12px;
}

.username {
    font-weight: bold;
    white-space: nowrap;
    color: green;
}

.message {
    display: flex;
    align-items: end;
    color: gray;
    word-wrap: break-word;
    flex-grow: 1;
    
}

.input_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97%;
}

.chat-input {
    display:flex;
    border: none;
    border-top: 2px solid #3a3e47;
    height: 25px;
    width: 100%;
    background-color: rgb(21, 21, 21);
    color: white;
    bottom : 0;
    left:0;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    outline: none;

}

.chat-container-content {
    height: 100%;
}

.content_line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
}

.line_x_chat {
    width: 50%;
    height: 1px;
    background: linear-gradient(to right, #363B4F, #fff, #363B4F);
}


.ContainerPopupInviteFreiends {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 40%);
    width: 100%;
    height: 100%;
}

.ContainerPopupInviteFreiends_card
{
    width: 30%;
    height: 50%;
    background-color: var(--bg1_);
    border-radius: 15px;
}

.TitlePopup
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

invite-friends-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    height: 65%;
    background-color: #191C28;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
}

.InviteFriendsPopupHeader {
    display: flex;
    width: 100%;
    height: 12%;
    font-size: 2.3vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, #E0E0E0, transparent);
    border-image-slice: 2;
}

.InviteFriendsPopupEntries {
    margin-bottom: 5px;
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
}

friend-invite-entry {
    width: 100%;
    height: 12%;
    min-height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #363B4F;
    border-radius: 10px;
}

.FriendInviteEntryC {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.FriendInviteEntryInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
}

.FriendInviteEntryInfo > img {
    width: 4vh;
    height: 4vh;
    border-radius: 10px;
}

friend-invite-entry > button {
    margin-right: 10px;
    width: 20%;
    height: 70%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 8px 2px rgba(50, 50, 50, 0.3);
    transition: background-size 0.3s, box-shadow 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-image: linear-gradient(#242735, #1E293A), linear-gradient(to left, #1675BD, #5232B2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 200% 100%;
}

friend-invite-entry > button:hover {
    background-image: linear-gradient(#212d3e, #2a2d3c), linear-gradient(to right, #1675BD, #5232B2);
    background-size: 100% 100%, 100% 100%;
}

game-selection {
    position: relative;
}

#roomeNameInput
{
    padding: 10px;
    border-radius: 50px;
    color: white;
    outline: none;
}

#saveRoomName {
    background-color: #242E4C;
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

#saveRoomName img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 5px;
}


/* .OfflineTournamentTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
} */

.ContainerCardOffline
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

offline-room-1vs1, offline-room-2vs1, offline-room-2vs2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.OfflineRoomTeams
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usersTeams
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 30%;
}

.player_
{
    display: flex;
    align-items: center;
    height: 8%;
    background-color: var(--bg2_);
    border-radius: 10px;
    font-size: 10px;
    gap: 10px;
    padding: 10px;
}

.player_ img
{
    border-radius: 15px;
}

.TwoVsTwo
{
    display: flex;
    align-items: center;
    height: 100%;

}

.usersTeams2v2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 70%;
}

.usersTeams2v2_final
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 70%;
}

.ContainerUsersTeams2v2
{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 23%;
}

.toor
{
    display: flex;
    align-items: center;
    width: 100%;

}

.linee
{
    border: 0.7px solid #828E97;
    width: 100%;
}

rooms-list-page {
    position: relative;
}

.BtnSlotTeams
{
    width: 100%;
    height: 63%;
    background: none;
    border: 1px solid;
}

.OptionsContainer > button {
    display: flex;
    width: 8.5vh;
    height: 8.5vh;
    background: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 4.5vh;
}

room-options {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 15px;
    padding-right: 10vh;
    flex-direction: row;
    gap: 12vh;
}

room-option {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.OptionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.OnlineRoomsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.OnlineRoomsContainer > preloader-mini {
    opacity: 0;
}