@font-face {
    font-family: 'nasalization';
    src: url('../fonts/nasalization-rg.otf') format('opentype');
}

::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #334252;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2b2727;
}

/* definde variables of primary colors */
:root {
    --bg: #181B26;
    --white: #FFFFFF;
    --success-color: #CA33FF;
    --pink: #CA33FF;
    --bg2: #191C28;
    --border-color1: #262730;
    --bg-button_: #222838;
    --orchid: #CA33FF;
    --bg: #181B26;
    --bg1_: #191C28;
    --bg2_: #363B4F;
    --bg3_: #2B2F40;
    --white_: #FFFFFF;
    --title: #A8A8A8;
    --text: #63656F;
    --shamrock: #24CE90;
    --byzantium: #581352;
    --byzanitumnew: #321A3E;
    --box: #2E3345;
    --yellow: #FAE744;
    --red: #FF6666;
    --blue: #4496D4;
    --btn_slot: #373739;
}

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'nasalization', sans-serif;
    user-select: none;
}

body {
    background-color: var(--bg);
}

layout-wrapper {
    display: flex;
}

.sidebar_ {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border-right: 1px solid var(--border-color1);
    width: 70px;
    height: 100vh;
    align-items: center;
    background-color: var(--bg2);
    z-index: 999999;
    position: fixed;
}

.sidebar_ > .sidebar_links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    text-align: center;
}

.sidebar_ > .logo_ > img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    object-fit: contain;
}
.sidebar_ > .sidebar_links > a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active_link::before {
    content: "";
    width: 6px;
    height: 50px;
    background: linear-gradient(#01F2FF, #2687F9);
    position: absolute;
    left: 0;
    border-radius: 0 5px 5px 0;
}

.sidebar_ > .sidebar_links > a > img {
    width: 30px;
    height: 30px;
    object-fit: contain;

}
.content_ {
    flex : 1;
    width: 100%;
    margin-left: 70px;
    /* border: 1px solid white; */
}

.content_ > .navbar_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: var(--bg);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left,#191C28,#4B4B4D, #191C28);
    border-image-slice: 2;
}

.content_ > .content_body_ {
    padding: 0 20px;
    /* margin-top: 20px; */
}

.navbar_ > search-component > .nav_search_ > input {
    border: none;
    flex : 1;
    outline: none;
    background: none;
    width: 100%;
}


.navbar_ > search-component > .nav_search_ > img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    user-select: none;
}

.navbar_ > .navbar_right_elements  > .nav_username {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    height: 43px;
    padding-left: 10px;
    padding-right: 2px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.navbar_ > .navbar_right_elements > .nav_username > p { 
    color: #63656F;
}

.navbar_ > .navbar_right_elements  > .nav_username img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border-radius: 50%;
}

.gradient-dark-bg {
    background: rgb(36,39,53);
    background: linear-gradient(0deg, rgba(36,39,53,1) 0%, rgba(28,31,44,1) 100%);
}

.gradient-dark-border {
    border: 1px solid var(--border-color1);
    border-image: linear-gradient(from right,#181B26, #2D2F3D);
    border-image-slice: 2;
}

search-component {
    position: relative;
}
.navbar_ > search-component > .nav_search_ {
    display: flex;
    align-items: center;
    width:  650px;
    gap: 10px;
    height: 43px;
    border-radius: 50px;
    padding-left: 5px;
    position: relative;
    z-index: 99;
    /* flex : 1; */
}



.nav_search_result {
    position: absolute;
    /* background-color: #26273090; */
    background: linear-gradient(0deg, rgba(36,39,53,1) 0%, rgba(28,31,44,1) 100%);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 350px;
    z-index: 1;
    left: 0;
    border-radius: 22px;
    border: 1px solid rgba(80, 76, 76, 0.448);
    display: none;
    margin-top: 10px;
    /* top: 0; */
}

.show_search_result {
    display: block;
}


.navbar_ .navbar_right_elements {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 1;
}

.navbar_ .navbar_right_elements > .navbar_notification_btn {
    position: relative;
    cursor: pointer;
    width: 43px;
    height: 43px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_ .navbar_right_elements > .navbar_notification_btn > img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    rotate: 10deg;
}

.navbar_ .navbar_right_elements > .navbar_notification_btn > .dot_ {
    position: absolute;
    top : 5px;
    width: 10px;
    height: 10px;
    background-color: var(--success-color);
    border-radius: 50%;
    z-index: 1;
}


.logout_ {
    margin-top: auto;
    margin-bottom: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

.logout_ img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

app-loader {
    display: flex;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loading_icon {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.loading_text {
    font-size: 30px;
    margin-top: 10px;
}

preloader-mini img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

#root {
    transition: 0.2s ease-in;
}

#root.blur {
    filter: blur(8px);
}

.msg-box-container {
    position: fixed;
    display: flex;
    width: 450px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    gap: 7%;
    justify-content: flex-start;
    z-index: 9999;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    user-select: none;
    opacity: 0%;
}

.msg-box-input {
    width: 97%;
    height: 70%;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    background: linear-gradient(to top, #1E293A, #242735);
}

.msg-box-title {
    /* margin-top: 10px; */
    font-size: 25px;
    font-weight: 500;
}

.msg-box-content {
    margin-top: 10px;
    text-align: left;
    opacity: 70%;
}

.msg-box-button-container {
    display: flex;
    height: 95%;
    gap: 20px;
    justify-content: space-between;
    justify-self: flex-end;
}

.msg-box-button-container.centered {
    justify-content: center;
}

.msg-box-button-primary {
    margin-top: auto;
    width: 190px;
    height: 65px;
    background-color: #36e6a5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.msg-box-button-secondary {
    margin-top: auto;
    width: 190px;
    height: 65px;
    background-color: #e63636;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.serach_disc_text, .serach_disc_no_result {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #63656F;
}

.search_result_loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_result_loading  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.search_result_user_card_pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}



.search_result_user_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left,#191C28,#4B4B4D, #191C28);
    border-image-slice: 2;
}

.search_result_user_card:hover {
    background-color: #1f2831d7;
}

.search_result_user_card:first-child {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.search_result_user_card_left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search_result_user_card_left .user_info h1 {
    font-size: 15px;
    color: #01F2FF;
}
.search_result_user_card_left .user_info  p {
    font-size: 15px;
    color: #757575;
}

.search_result_user_card_right {
    display: flex;
    align-items: center;
}

.search_result_user_card_right img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}