.login-page
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: my_font;
	font-size:16px;
	width: 100%;
	background :#181B26;
	color:#f5f6f7;
    display: flex;
	justify-content: center;
	align-items: center;
}

.login-container
{
	margin: 200px auto;
	padding: 100px;
}

.login-form 
{
    width: 350px;
}

.logo, .fortyTwo 
{
    width: 100px;
    margin-bottom: 10px;
}

.fortyTwo 
{
    width: 20px;
    margin-right: 7px;
	margin-bottom: 0;
}

.forgot-password-link 
{
	font-family: sans-serif;
	font-style: normal;
	font-size: small;
	color: #004e98;
}

.password
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	color:white;
	margin-bottom: 0;
}

.password-btn
{
	color: white;
	padding: 10px 30px;
	border:none;
	outline: none;
	position: relative ;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	border-radius: 10px;
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	z-index:1; 
}

.password-btn::before
{
	content: "";
	position: absolute;
	top:2px;
	right:2px;
	bottom:2px;
	left:2px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
} 

.password-btn::after
{
	content: attr(data);
	font-size: 16px;
}

.password-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.password-btn:hover::after
{
	color: white;
}

.input
{
	display: block;
    width: 100%;
    padding: 15px 20px 15px 20px;
	margin-top: 10px;
	margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to top, #1E293A, #242735);
}



.buttons 
{
    display: flex;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;

}


.primary-btn
{
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 40px;
	padding-left:40px;
	border:none;
	outline: none;
	position: relative;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	border-radius: 10px;
	cursor: pointer;
	font-family: my_font;
	z-index:1; 
}

.primary-btn::before
{
	content: "";
	position: absolute;
	top:1px;
	right:1px;
	bottom:1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
} 

.primary-btn::after
{
	content: attr(data);
}

.primary-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.primary-btn:hover::after
{
	color: white;
}

.secondary-btn
{
	color: #697185;
	font-size: smaller;
	white-space: nowrap;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border:none;
	border-radius: 10px;
	outline: none;
	position: relative;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:1;
}

.secondary-btn::before
{
	content: "";
	position:absolute;
	top:1px;
	right:1px;
	bottom: 1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
}

.secondary-btn::after
{
	content : "";
	font-size: 10px;
}

.secondary-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.secondary-btn:hover::after
{
	color: white;
}

.anchor
{
	text-decoration: none;
	color: #004e98;
}

.paragraph
{
	color: #697185;
	font-size: large;
}

.space
{
	margin: 20px;
}

.ref
{
	color: #697185;
	font-size: 10px;
}
