.login-page
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* font-family: my_font; */
	font-size:16px;
	width: 100%;
	height: 100vh;
	background :#181B26;
	color:#f5f6f7;
    display: flex;
	justify-content: center;
	align-items: center;
}

.login-page input {
	outline: none;
}

.login-container
{
	margin: 15vh auto;
	padding: 10vh;
	max-width: 500px;
}

.login-form 
{
    width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.logo, .fortyTwo 
{
    width: 100px;
    margin-bottom: 10px;
}

.fortyTwo 
{
    width: 20px;
	margin-top: 5px;
    margin-right: 7px;
	margin-bottom: 0;
	filter: invert(1);
}

.forgot-password-link 
{
	font-family: sans-serif;
	font-style: normal;
	font-size: small;
	color: #004e98;
}

.password_label
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	color:white;
	margin-bottom: 0;
}

.password-btn
{
	color: white;
	padding: 10px 30px;
	border:none;
	outline: none;
	position: relative ;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	border-radius: 10px;
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	z-index:1; 
}

.password-btn::before
{
	content: "";
	position: absolute;
	top:2px;
	right:2px;
	bottom:2px;
	left:2px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
} 

.password-btn::after
{
	content: attr(data);
	font-size: 16px;
}

.password-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.password-btn:hover::after
{
	color: white;
}

.input
{
	display: block;
    width: 100%;
    padding: 15px 20px 15px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to top, #1E293A, #242735);
}

.buttons 
{
    display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;

}


.primary-btn
{
	all: unset;
	flex: 0.8;
	outline: none;
	position: relative;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	border-radius: 10px;
	cursor: pointer;
	font-family: 'nasalization';
	font-weight: bold;
	z-index:1;
	min-height: 50px;
	max-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.primary-btn::before
{
	content: "";
	position: absolute;
	top:1px;
	right:1px;
	bottom:1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
}

.primary-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.primary-btn:hover::after
{
	color: white;
}

.secondary-btn
{
	color: #697185;
	font-size: smaller;
	all: unset;
	border-radius: 10px;
	outline: none;
	position: relative;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:1;
	min-height: 50px;
	max-height: 50px;
	flex: 1.5;
	width: 100%;
}

.secondary-btn::before
{
	content: "";
	position:absolute;
	top:1px;
	right:1px;
	bottom: 1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
}

.secondary-btn::after
{
	content : "";
	font-size: 10px;
}

.secondary-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.secondary-btn:hover::after
{
	color: white;
}

.anchor
{
	text-decoration: none;
	color: #004e98;
}

.paragraph
{
	color: #697185;
	font-size: 20px;
}

.space
{
	flex: 0.1;
}

/* todo: make this cleaner */
.login-error-message {
	margin-top: 10%;
	color: #8a8f9b;
	font-size: 15px
}

.ref
{
	color: #697185;
	font-size: 10px;
	margin-top: 10px;
}
