two-factor-page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

two-factor-page .twofactor_code {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.two_factor_card_header  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}


two-factor-page .two_factor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2D2F3D;
    padding: 30px;
    border-radius: 15px;
    width: 442px;
    /* gap: 30px; */
}

two-factor-page .two_factor .twofa_inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

two-factor-page .two_factor .twofa_inputs input {
    width: 30px;
    height: 30px;
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 3px solid white;
    transition: all ease-in-out .2s;
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
}

two-factor-page .two_factor .twofa_inputs input:focus {
    border: 3px solid rgb(63, 63, 244);
}
two-factor-page .two_factor_card_header p {
    color: #63656F;
    font-size: 15px;
    font-weight: 300;
}

two-factor-page  .two_factor_card_header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 740px;
    margin-bottom: 20px;
    padding: 10px;
}

.two_factor_qr {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #2D2F3D;
    padding: 30px;
    border-radius: 15px;
}

.qr_code img {
    background-color: white;
    border-radius: 10px;
}

.qr_code img {
    width: 224px;
    height: 224px;
    object-fit: contain;
}

.two_factor_qr .qr_code img {
    width: 250px;
}

two-factor-page .two_factor button {
    background: #181B26;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

two-factor-page .two_factor .btn_not_active {
    background: #63656F;
    cursor:not-allowed;
}