notification-center {
    position: fixed;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 30%;
    height: 100%;
    top: 0%;
    left: 100%;
    z-index: 9999;
    backdrop-filter: blur(10px);
    background-color: rgba(56, 60, 78, 0.28);
    opacity: 0%;
}
 
.notification-center-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    height: 9%;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left,rgba(34, 37, 50, 0),#4B4B4D, rgba(34, 37, 50, 0));
    border-image-slice: 2;
}

.notification-headline {
    font-size: 2.5vh;
    font-weight: 500;
}

.notification-headline > a {
    font-size: 2.0vh;
    color: rgb(222, 224, 99);
}

.notification-clear {
    padding-right: 40px;
    opacity: 80%;
    cursor: pointer;
}

.notifications-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    width: 100%;
    height: 10%;
    min-height: 10%;
    margin-left: 100%;
    opacity: 0%;;
    /* background-color: rgba(56, 60, 78, 0.5); */
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left,rgba(34, 37, 50, 0),#4B4B4D, rgba(34, 37, 50, 0));
    border-image-slice: 2;
    /* transition: all 0.2s ease-in; */
}

.notification-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-delete {
    justify-self: flex-end;
    width: 15px;
    height: 15px;
    padding-right: 35px;
    opacity: 80%;
    cursor: pointer;
}

.notification-content {
    white-space: nowrap;
}

.notification-content-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-self: flex-start;
}

.notification-content > a {
    color: #CA33FF;
}

.notification-img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    justify-self: flex-start;
    object-fit: contain;
    user-select: none;
}

.notification-date {
    padding-top: 5px;
    font-size: 1.2vh;
    opacity: 70%;
}

