profile-page {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
}

profile-info {
    flex: 0.7;
    height: 100vh;
    width: 100%;
}
profile-friends {
    flex: 0.3;
    height: 100vh;
    border: 1px solid white;
    width: 100%;
}

#profile_banner {
    height: 400px;
    width: 100%;
}

.profile_user_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -50px;
}

.profile_user_info #profile_pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -30px;
}

.profile_user_info_left_items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.profile_user_info_left_items h2 {
    text-transform: capitalize;
    font-size: 40px;
}

.profile_user_info_left_items .profile_joined #joined {
    color: #56576B;
    font-size: 20px;
}

.profile_user_info_left_items .profile_joined {
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 40px;
}
.profile_user_info_left_items .profile_joined #online {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #24CE90;
}
.profile_user_info_left_items .profile_joined #online::before {
    content: "";
    height: 10px !important;
    width: 10px !important;
    background-color: #24CE90;
    border-radius: 50%;
}

.profile_user_info_settings_link a {
    text-decoration: none;
    color: #CA33FF;
    font-size: 20px;
}

.line_ {
    background-color: var(--bg);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to left, #191C28, #4B4B4D, #191C28);
    border-image-slice: 2;
    height: 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

profile-statistics .statistics_title {
    font-size: 30px;
}

profile-statistics #statistics_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

profile-statistics #statistics_cards statistic-card {
    display: flex;
    align-items: center;
    border: 3px solid #282C3B;
    flex: 1;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    gap: 20px;
    height: 70px;
}

profile-statistics #statistics_cards statistic-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

profile-statistics #statistics_cards statistic-card p {
    color: #56576B;
    font-size: 18px;
}

profile-statistics #statistics_cards statistic-card h1 {
    font-size: 20px;
} 
.profile_titles {
    font-size: 35px;
}

match-history h2 {
    margin-top: 30px;
}

#match_historys {
    margin-top: 20px;
}

.history_card {
    display: flex;
    position: relative;
    background: var(--bg3_);
    height: 100%;
    border-radius: 15px;
    width: 100%;
}

.history_card_body_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    margin-left: 20px;
    margin-right: 20px;
}


.history_card_body {
    border-radius: 15px;
    background: var(--bg2_);
    width: 100%;
}

.game_status {
    text-align: right;
    font-size: 30px;
}

.game_status.win {
    color: #FAE744;
}
.game_status.lose {
    color: red;
}

.game_history_host {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 15px;
    gap: 5px;
}

.match_hostory_left_items {
    line-height: 30px;
}

.match_hostory_score {
    color: #CA33FF;
    font-size: 35px;
}