.login-form 
{
    width: 100%;
}

.registration-page 
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: my_font;
	font-size:16px;
	width: 100%;
	height: 100vh;
	background :#181B26;
	color:#f5f6f7;
    display: flex;
	justify-content: center;
	align-items: center;
}

.logo
{
	width: 100px;
	margin-bottom: 10px;
}

.registration-container
{
	margin: 5.9vh auto;
	padding: 10vh;
}

.btn
{
	color: white;
	padding:13px 80px;
	border:none;
	outline: none;
	position: relative ;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	border-radius: 10px;
	cursor: pointer;
	font-family: 'nasalization';
	z-index:1; 
}

.btn::before
{
	content: "";
	position: absolute;
	top:1px;
	right:1px;
	bottom:1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
} 

.btn::after
{
	content: attr(data);
	font-size: 16px;
}

.btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.btn:hover::after
{
	color: white;
}

.anchor
{
	text-decoration: none;
	color: #004e98;
}

.paragraph
{
    color: #697185;
}

.registration-error-message {
	margin-top: 3%;
	color: #8a8f9b;
	font-size: 15px
}

.ref
{
	color: #697185;
	font-size: 10px;
}

