.settings_bg_ {
    background-color: #212535;
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

.settings_content_body {
    margin-top: -200px !important;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.settings_form_data {
    gap: 100px;
    background-color: #1B1F2D;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 50px;
    border-radius: 21px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.user_settings_pfp_input_box .settings_pfp_image  {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 20px;
}

.user_settings_pfp_label {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.user_settings_pfp_input_box:hover .settings_pfp_camera_upload {
    opacity: 1;
    transition: opacity 0.3s;
}

.settings_pfp_camera_upload {
    width: 400px;
    height: 400px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    margin-left: -450px !important;
    margin-top: 20px;
    user-select: none;
    opacity: 0;
}



.user_settings_pfp_input_box input {
    opacity: 0;
    user-select: none;
    width: 400px;
    height: 400px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    margin-left: -450px !important;
    margin-top: 20px;
    z-index: 999;
}

.settings_pfp_delete {
    margin-top: 30px;
}

.settings_pfp_delete button {
    color: #CA33FF;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.settings_pfp_delete p {
    color: #63656F;
    font-size: 15px;
    margin-top: 10px;
    max-width: 400px;
}
.settings_user_form_ {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings_form_control {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

user-settings-form-page {
    flex: 1;
    padding-right: 5%;
}

user-settings-pfp {
    /* flex: 1; */
    border-left: 1px solid transparent;
    border-image: linear-gradient(to top,#191C28,#4B4B4D, #191C28);
    border-image-slice: 2;
    padding-left: 8%;
}

.settings_form_control label {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    
}

.settings_form_control input {
    padding: 10px;
    font-size: 18px;
    height: 35px;
    width: 100% !important;
    font-size: 15px;
    border-radius: 15px;
    color: #fff;
    outline: none;
}

.settings_form_control:not(:first-child) {
    margin-top: 30px;
}

.settings_form_btn {
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.settings_form_btn .settings_user_form_btn_cancel {
    background-color: #AEAFB3;
    border: none;
    color: #1B1F2D;
    padding: 20px;
    border-radius: 50px;
    width: 90%;
    flex: 1;
}
.settings_form_data {
    height: 100%;
}

.settings_form_btn .settings_user_form_btn_save {
    background-color: #242E4C;
    border: none;
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    width: 90%;
    flex: 1;
}

.settings_text_desc {
    margin-bottom: 30px;
}

.settings_text_desc h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.settings_text_desc p {
    color: #5A5D67;
    margin-top: 5px;
}

.settings_confirm_password_popup_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #1b1f2d82;
    backdrop-filter: blur(10px);
    z-index: 9999;
    transition: all 0.3s;
    /* display: none; */
} 

.settings_confirm_password_popup_title {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.settings_confirm_password_popup_text {
    color: #5A5D67;
    font-size: 18px;
    margin-bottom: 20px;
}

.settings_confirm_password_popup_input {
    padding: 10px;
    font-size: 18px;
    height: 35px;
    width: 100% !important;
    font-size: 15px;
    border-radius: 15px;
    color: #fff;
    outline: none;
}

.settings_confirm_password_popup_button {
    background-color: #24CE90;
    border: none;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    flex: 1;
    cursor: pointer;
    margin-top: 20px;
}

button {
    cursor: pointer;
}

.settings_confirm_password_popup_button_x {
    /* position: absolute; */
    background-color: #ffffff;
    color: #050819;
    width: 30px;
    z-index: 9999;
    border: none;
    border-radius: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 50px;
}

.settings_input_error {
    color: #FF4D4D;
}

.settings_user_form_fullname {
    display: flex;
    align-items: center;
    gap: 50px;
}

.settings_user_form_fullname > .settings_form_control {
    gap: 5px !important;
}

/* remvoe the marginTop from the seccne child */
.settings_user_form_fullname > * {
    margin-top: 0 !important;
}
