@font-face 
{
    font-family: my_font;
    src: url("../utils/nasalization-rg.otf");
    font-weight: bold;
}

.icon
{
	width: 100px;
	margin-bottom: 10px;
}

input
{
	display: block;
    width: 100%;
    padding: 15px 20px 15px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to top, #1E293A, #242735);
    color: #f5f6f7;
}

body 
{
	font-family: my_font;
	font-size:16px;
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color:#181B26;
	color:#f5f6f7;
    display: flex;
	align-items: center;
}

.container 
{
	margin: 200px auto;
	width: 50%;
	padding: 100px;
	align-items: center;
}


.btn
{
	color: white;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	border:none;
	outline: none;
	position: relative ;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	border-radius: 10px;
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	z-index:1; 
}

.btn::before
{
	content: "";
	position: absolute;
	top:1px;
	right:1px;
	bottom:1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
} 

.btn::after
{
	content: attr(data);
	font-size: 16px;
}

.btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.btn:hover::after
{
	color: white;
}

a
{
	text-decoration: none;
	color: #004e98;
}

p
{
    color: gray;
}