@font-face 
{
    font-family: my_font;
    src: url("../utils/nasalization-rg.otf");
    font-weight: bold;
}

body 
{
	font-family: my_font;
	font-size:16px;
	width: 100%;
	height: 100vh;
	background :#181B26;
	color:#f5f6f7;
    display: flex;
	align-items: center;
}

.icon
{
	width: 100px;
	margin-bottom: 10px;
}

.fortyTwo
{
	width: 20px;
	margin-bottom: 10px;
	margin-right: 7px;
}

.password
{
    display: flex;
    justify-content: space-between;
    margin: 0;
	margin-left: 0;
	flex-grow: 1;
	color:white;
}
.password-btn
{
	color: white;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	border:none;
	outline: none;
	position: relative ;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	border-radius: 10px;
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	z-index:1; 
}

.password-btn::before
{
	content: "";
	position: absolute;
	top:2px;
	right:2px;
	bottom:2px;
	left:2px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
} 

.password-btn::after
{
	content: attr(data);
	font-size: 16px;
}

.password-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.password-btn:hover::after
{
	color: white;
}

input
{
	display: block;
    width: 100%;
    padding: 15px 20px 15px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to top, #1E293A, #242735);
}

.container 
{
	margin: 200px auto;
	width: 50%;
	padding: 100px;
	align-items: center;
}

.buttons 
{
    display: flex;
    justify-content: space-between;
}


.primary-btn
{
	color: white;
	border:none;
	outline: none;
	position: relative;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 10px;
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	z-index:1; 
}

.primary-btn::before
{
	content: "";
	position: absolute;
	top:1px;
	right:1px;
	bottom:1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
} 

.primary-btn::after
{
	content: attr(data);
	font-size: 16px;
}

.primary-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.primary-btn:hover::after
{
	color: white;
}

.secondary-btn
{
	color: #697185;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 15px;
	padding-bottom: 2px;
	border:none;
	border-radius: 10px;
	outline: none;
	position: relative;
	background: linear-gradient(to right,#5232B2 ,#1675BD);
	cursor: pointer;
	font-family: my_font;
	font-weight: bold;
	display: flex;
	z-index:1;
}

.secondary-btn::before
{
	content: "";
	position:absolute;
	top:1px;
	right:1px;
	bottom: 1px;
	left:1px;
	border-radius: 10px;
	background: linear-gradient(to right, #242735, #1E293A);
	z-index: -1;
}

.secondary-btn::after{
	content: attr(data);
	font-size: 16px;
}

.secondary-btn:hover::before 
{
	opacity: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.secondary-btn:hover::after
{
	color: white;
}

a
{
	text-decoration: none;
	color: #004e98;
}

p
{
	color: #697185;
	font-size: large;
}

.ref
{
	color: #697185;
	font-size: small;
}
